/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.flex {
    display: flex;
}

/* COMMON */
img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.card {
    height: 650px;
    width: 400px;
    /* DEBUG */
    border: 1px solid red;
}

.image2 {
    display: none;
}

.image:hover .image2 {
    display: block;
}

.image:hover .image1 {
    display: none;
}


/* HEADER */
.header-section {
    padding: 0 150px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(255, 123, 0);
    color: white;
    position: fixed;
    z-index: 10;
    width: 100%;
    /* DEBUG */
    /* border: 1px solid orange; */
}

/* NAVIGATION */
.navigation {
    /* DEBUG */
    /* border: 1px solid red; */
}

ul {
    gap: 20px;
}

/* LOGO */
.logo {
    width: 180px;
    /* DEBUG */
    /* border: 1px solid red; */

}

/* ACTIONS */
.actions {
    /* DEBUG */
    /* border: 1px solid red; */
}

.icons {
    gap: 10px;
}


/* MAIN */
.main {
    justify-content: center;
    padding: 130px 150px 80px;
    flex-wrap: wrap;
    gap: 20px;
}

/* CARDS */
.image {
    position: relative;
    /* DEBUG */
    border: 1px solid gray;
}

.details {
    height: 60px;

    /* DEBUG */
    border: 1px solid black;
}

.brand {
    font-size: small;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
}

.discount {
    display: inline-block;
    color: red;
    font-weight: bolder;
}

.price {
    display: inline-block;
    text-decoration: line-through;
    font-size: small;
}

/* FOOTER */
.footer {
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.info {
    margin-top: 10px;
}